{% extends 'base.html' %}
{% block top_menu %}{% endblock %}
{% block container %}
    <p></p>
    <h1 style="margin-bottom: 30px">Search page</h1>
    <form action="search.html">
    {% csrf_token %}
        <p>Please enter desired username</p>
        <input type="text" placeholder="only username" formaction="success.html" formmethod="post">
            {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
    <div class="gen-text">
    	{{ text }}
    </div>
{% endblock %}