{% extends 'base.html' %}
{% block top_menu %}
    <nav class="navbar navbar-default navbar-fixed-top" style="color: #006400 !important"></nav>
{% endblock %}
{% block container %}
    <h1 style="margin-bottom: 10px; margin-top: 60px;">Search page</h1>
    <form action="search.html" method="get">
    {% csrf_token %}
        <p>Please enter desired username</p>
        <input type="text" placeholder="only username" formaction="/success.html" formmethod="post">
        <button type="submit">Submit</button>
    </form>
    <div class="gen-text">
    	{{ text }}
    </div>
{% endblock %}